<h1>Task Manager</h1>

<%= link_to 'Add a new task', new_task_path %>

<h2>Tasks:</h2>
<% if @tasks.empty? %>
  <p>No tasks yet!</p>
<% else %>
  <% @tasks.each do |task|  %>
    <p>
      <%= task.done ? '[x]' : '[ ]' %>
      <%= link_to task.name, task_path(task) %>
    </p>
  <% end %>
<% end %>


