#editor {
  position: absolute;
  width: 500px;
  height: 400px;
}

#navbar {
  font-size: 20px;
  padding: 0 15px;
  height: 60px;
  background-color: #EEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
