<h1>Home pageeeeeeeeeeeeeeeeeeee</h1>
<h2><%= link_to 'Add a new restaurant', new_restaurant_path %></h2>
<% if Restaurant::CATEGORIES.include? @category %>
  <h2><%= @category.capitalize %> Restaurants</h2>
  <ul class="list-unstyled">
    <% @restaurants.each do |restaurant| %>
      <% if restaurant.category == @category %>
        <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      <% end  %>
    <% end %>
  </ul>
<% else %>
  <ul class="list-unstyled">
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
<% end %>

